@import "variables.scss";
@import "mixins.scss";

@import "fonts.scss";

@import "blocks/about.scss";
@import "blocks/advantage.scss";
@import "blocks/advantages.scss";
@import "blocks/contacts.scss";
@import "blocks/form.scss";
@import "blocks/intro.scss";
@import "blocks/main-nav.scss";
@import "blocks/main.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/photos.scss";
@import "blocks/popup.scss";
@import "blocks/social-btns.scss";
@import "blocks/video.scss";

.wrapper {
  width: 320px;
  margin: 0 auto;
  box-shadow: 2px 0 1px 0 $bg-light,
              -2px 0 1px 0 $bg-light;
  background-color: white;
  @media (min-width: $tablet-widths) {
    width: 768px;
  }
  @media (min-width: $desktop-widths) {
    width: 1200px;
  }
}
