.advantages {
  text-transform: uppercase;
  display: block;
}
.advantages__row {
  &--grey {
    background-color: $bg-light;
  }
  @media (min-width: $tablet-widths) {
    display: flex;
  }
  @media (min-width: $desktop-widths) {
  }
  &--blue {
    background-color: $bg-color;
    min-height: 256px;
  }
  &--tips {
    @media (min-width: $tablet-widths) {
      padding-top: 100px;
      padding-bottom: 48px;
    }
    @media (min-width: $desktop-widths) {
      padding-bottom: 0;
    }
  }
}
