.advantage {
  @media (min-width: $tablet-widths) {
    width: 33.666666%;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage--reverse {
  @media (min-width: $tablet-widths) {
    order: 2;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage__title {
  @include title;
  padding: 0;
  margin: 0;
  @media (min-width: $tablet-widths) {
    padding-top: 30px;
    font-size: 21px;
  }
  @media (min-width: $desktop-widths) {
    text-align: center;
    padding-left: 135px;
    padding-right: 135px;
  }
}
.advantage__title--blue {
  padding-bottom: 10px;
  @media (min-width: $tablet-widths) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 45px;
  }
  @media (min-width: $desktop-widths) {
    padding-left: 125px;
    padding-right: 125px;
  }
}
.advantage__title--grey {
  padding-bottom: 10px;
  @media (min-width: $tablet-widths) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 45px;
    margin: 0;
  }
  @media (min-width: $desktop-widths) {
    padding-left: 130px;
    padding-right: 130px;
  }
}
.advantage__title--word {
  @media (min-width: $tablet-widths) {
    display: block;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {

  }
}
.advantage__description {
  @include text;
  @media (min-width: $tablet-widths) {
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 0;
  }
  @media (min-width: $desktop-widths) {
    padding-left: 45px;
    padding-right: 45px;
  }
}
.advantage__description--grey {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  @media (min-width: $tablet-widths) {
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 32px;
    padding-top: 5px;
  }
  @media (min-width: $desktop-widths) {
    padding-top: 5px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
.advantage__description--grey:last-child {
  margin-bottom: 12px;
  @media (min-width: $tablet-widths) {
    margin-bottom: 0;
  }
  @media (min-width: $desktop-widths) {

  }
}
.advantage__description--sentence-one {
  @media (min-width: $tablet-widths) {
    display: block;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
    display: inline;
  }
}
.advantage__description--sentence-two {
  @media (min-width: $tablet-widths) {
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
    display: inline;
    padding: 0;
  }
}
.advantage__description--sentence-three {
  display: block;
  @media (min-width: $tablet-widths) {
    display: inline;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage__description--sentence-four {
  @media (min-width: $tablet-widths) {
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage__description--sentence-five {
  @media (min-width: $tablet-widths) {
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
    display: block;
  }
}
.advantage__description--blue {
  @media (min-width: $tablet-widths) {
    padding-top: 8px;
  }
  @media (min-width: $desktop-widths) {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.advantage__description--first {
  @media (min-width: $tablet-widths) {
  }
  @media (min-width: $desktop-widths) {
    padding-left: 55px;
    padding-right: 55px;
  }
}
.advantage__description--long {
  @media (min-width: $tablet-widths) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: $desktop-widths) {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.advantage__description--word {
  @media (min-width: $tablet-widths) {
    display: block;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage__description--tips {
  @media (min-width: $tablet-widths) {
    padding-top: 5px;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage__number {
  @include text;
  text-align: center;
}
.advantage--blue {
  background-color: $bg-color;
  color: $color-light;
  text-align: center;
  padding: 25px;
  padding-top: 40px;
  @media (min-width: $tablet-widths) {
    padding: 0;
    width: 33.666666%;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage--first {
  padding-top: 55px;
  @media (min-width: $tablet-widths) {
    padding-top: 0;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage--grey {
  text-transform: uppercase;
  border-bottom: 1px solid #E4E4E4;
  text-align: center;
  padding: 10px 15px;
  padding-top: 26px;
  @media (min-width: $tablet-widths) {
    padding: 0;
    width: 33.666666%;
  }
  @media (min-width: $desktop-widths) {
    padding-bottom: 35px;
  }
}
.advantage--image {
  padding: 0;
  background-color: $color-light;
  margin: 0;
  width: auto;
  @media (min-width: $tablet-widths) {
    width: 66.666666%;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage--tips {
  text-align: left;
  padding-left: 70px;
  position: relative;
  margin-top: 35px;
  padding-right: 20px;
  @media (min-width: $tablet-widths) {
    padding: 0;
    width: 33.333333%;
    text-align: center;
    margin-top: 30px;
  }
  @media (min-width: $desktop-widths) {
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.advantage__description--food {
  @media (min-width: $tablet-widths) {
    display: block;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {

  }
}
.advantage__description--first-sentence {
  @media (min-width: $tablet-widths) {
    display: block;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
    display: block;
    padding: 0;
  }
}
.advantage__description--gift {
  @media (min-width: $tablet-widths) {
    display: block;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage__description--middle-sentence {
  @media (min-width: $tablet-widths) {
    display: block;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
    display: inline;
    padding: 0;
  }
}
.advantage__description--last-sentence {
  @media (min-width: $tablet-widths) {
    display: block;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
    display: inline;
    padding: 0;
  }
}
.advantage__picture {
  display: block;
  padding: 0;
  margin: 0;
}
.advantage--tips-burger {
  padding-bottom: 25px;
  @media (min-width: $tablet-widths) {
   padding-bottom: 0;
  }
  @media (min-width: $desktop-widths) {
  }
}
.advantage--grey:last-child {
  padding-bottom: 12px;
  border: 0;
}
.advantage--tips-home::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 36px;
  background-image: url("/img/icon-house.svg");
  background-size: 40px 36px;
  background-repeat: no-repeat;
  top: -7px;
  left: 20px;
  @media (min-width: $tablet-widths) {
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
  }
  @media (min-width: $desktop-widths) {
    width: 77px;
    height: 77px;
  }
}
.advantage--tips-gift::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 36px;
  background-image: url("/img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 36px;
  top: -10px;
  left: 25px;
  @media (min-width: $tablet-widths) {
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 75px;
    background-size: 70px 75px;
  }
  @media (min-width: $desktop-widths) {
    top: -73px;
    width: 80px;
    height: 75px;
  }
}
.advantage--tips-burger::before {
  position: absolute;
  content: "";
  width: 37px;
  height: 37px;
  background-image: url("/img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 37px 37px;
  top: -6px;
  left: 20px;
  @media (min-width: $tablet-widths) {
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 75px;
    background-size: 70px 75px;
  }
  @media (min-width: $desktop-widths) {
    width: 70px;
    height: 70px;
  }
}
.advantage--tips-gift {
  padding-top: 0;
  margin-top: 28px;
  @media (min-width: $tablet-widths) {
    order: 3;

  }
  @media (min-width: $desktop-widths) {

  }
}
.advantage--tips-burger {
  margin-top: 27px;
  @media (min-width: $tablet-widths) {
    order: 2;
  }
  @media (min-width: $desktop-widths) {
  }
}
