.popup {
  display: block;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  background-color: $color-light;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 1px 1px 1px $bg-light;
  width: 320px;
}
.popup--closed {
  display: none;
}

.popup--decline {
  z-index: 1000;
  top: 200px;
  @media (min-width: $tablet-widths) {
    width: 400px;
  }
}
.popup--accept {
  z-index: 1000;
  top: 200px;
  padding-bottom: 0;
  @media (min-width: $tablet-widths) {
    width: 645px;
  }
}
.popup__title {
  @include title;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $tablet-widths) {
    font-size: 30px;
    line-height: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
  @media (min-width: $desktop-widths) {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.popup__text {
  @include text;
  text-align: center;
  padding: 35px 45px;
  text-transform: uppercase;
  @media (min-width: $tablet-widths) {
    padding-top: 0px;
  }
}
.popup__text--accept {
  @include text;
  text-align: center;
  padding: 35px 45px;
  text-transform: uppercase;
}
.popup__text--sentence {
  display: block;
  padding: 0;
}
.popup__button {
  background-color: $bg-light;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 25px;
}
.popup__btn {
  @include title;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: $color-light;
  text-transform: uppercase;
  background-color: $bg-color;
  width: 280px;
  padding: 16px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.popup__btn:hover {
  background-color: #72a6c5;
}
.popup__btn:active {
  background-color: #5496bd;
  color: rgba($color-light,0.3)
}
.popup__btn--accept {
  @media (min-width: $tablet-widths) {
    width: 400px;
  }
}
