.video {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 105px;
  padding-top: 19px;
  @media (min-width: $tablet-widths) {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
    margin-bottom: 50px;
  }
  @media (min-width: $desktop-widths) {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 26px;
    margin-bottom: 95px;
  }
}
.video__title {
  @include title;
  padding-bottom: 10px;
  @media (min-width: $tablet-widths) {
    padding-bottom: 5px;
  }
  @media (min-width: $desktop-widths) {
    padding-bottom: 5px;

  }
}
.video__title--large {
  @media (min-width: $tablet-widths) {
    font-size: 30px;
  }
}
.video__text {
  @include text;
  color: $dark-grey;
  line-height: 24px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  @media (min-width: $tablet-widths) {
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 58px;
  }
  @media (min-width: $desktop-widths) {
    padding-bottom: 56px;
  }
}
.video__sentence {
  @media (min-width: $desktop-widths) {
    display: block;
    padding: 0;
  }
}
.video__player {
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  @media (max-width: $mobile-widths) {
    background-image: url("/img/video-mobile@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/video-mobile@2x.jpg");
      background-position: center;
    }
  }
  @media (min-width: $tablet-widths) {
    background-image: url("/img/video-tablet@1x.jpg");
    position: relative;
    height: 500px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/video-tablet@2x.jpg");
    }
  }
  @media (min-width: $desktop-widths) {
    width: 800px;
    background-image: url("/img/video-desktop@1x.jpg");
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/video-desktop@2x.jpg");
    }
  }
}
.video__controls {
  padding-left: 20px;
  padding-right: 20px;
  transform: translateY(-50%);
  padding-top: 12px;
  @media (min-width: $tablet-widths) {
    transform: translateY(0);
    position: absolute;
    padding: 0;
    bottom: 0;
    width: 100%;
  }
}
.video__scale {
  background-color: rgba($color, 0.6);
  padding: 22px 20px;
  @media (min-width: $tablet-widths) {
    bottom: 0;
    width: 100%;
    height: 90px;
    position: relative;
    padding: 0;
  }
  @media (min-width: $desktop-widths) {
    width: 100%;
  }
}
.video__bar {
  width: 235px;
  height: 2px;
  background-color: rgba($color-light, 0.2);
  @media (min-width: $tablet-widths) {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    width: 390px;
  }
  @media (min-width: $desktop-widths) {
    width: 540px;
  }
}
.video__toggle {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: white;
  top: 30px;
  left: 78px;
  z-index: 100;
  @media (min-width: $tablet-widths) {
    top: -3px;
    left: 116px;
  }
}
.video__panel {
  background-color: $bg-light;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  @media (min-width: $tablet-widths) {
    position: absolute;
    background-color: rgba($color, 0);
    width: 648px;
    bottom: 11px;
    padding-left: 28px;
    padding-right: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  @media (min-width: $desktop-widths) {
    width: 800px;
  }
}
.video__repeat {
  font-size: 0;
  width: 16px;
  height: 20px;
  background: none;
  outline: none;
  border: 0;
  margin-right: 90px;
  fill: #5c6870;
  cursor: pointer;
  box-sizing: content-box;
  @media (min-width: $tablet-widths) {
    fill: #ffffff;
    padding-right: 375px;
  }
  @media (min-width: $desktop-widths) {
    padding-right: 525px;
  }
}
.video__repeat:hover {
  fill: black;
}
.video__repeat:active {
  fill: rgba(0,0,0,0.3);
}
.video__cc {
  cursor: pointer;
  font-size: 0;
  width: 32px;
  height: 20px;
  background: none;
  outline: none;
  border: 0;
  fill: #5c6870;
  box-sizing: content-box;
  @media (min-width: $tablet-widths) {
    fill: #ffffff;
    left: 0;
    margin-right: 20px;
  }
}
.video__cc:hover {
  fill: black;
}
.video__cc:active {
  fill: rgba(0,0,0,0.3);
}
.video__fullscreen {
  cursor: pointer;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: none;
  outline: none;
  border: 0;
  fill: #5c6870;
  padding-right: 20px;
  box-sizing: content-box;
  @media (min-width: $tablet-widths) {
    fill: #ffffff;
    left: 0;
    padding-right: 15px;
  }
}
.video__fullscreen:hover {
  fill: black;
}
.video__fullscreen:active {
  fill: rgba(0,0,0,0.3);
}
